<!DOCTYPE hmtl>
    <head>
        <title>Sensehat Data recordings </title>
        <link rel="stylesheet" href='/home/pi/IOT/a1/webserver/static/style.css'/>
    </head>
    <body>
        <h1>Sensehat Data recordings </h1>
        <h3> Temperature = {{ temp }}°C</h3>
        <h3> Humidity = {{ humid }}%</h3>
        <h3> Pressure = {{ pressure }}</h3>
        <hr>
        <h3> Plot Data for Temperature, Humidity and Pressure</h3>
        <hr>
        <img src="/plot/temp" alt="Temperature Graph" width="50%">
        <img src="/plot/humid" alt="Humidity Graph" width="50%">
        <img src="/plot/pressure" alt="Pressure Graph" width="50%">
    </body>
</html>